doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Yahtzee Game
        link(rel="stylesheet", href="/style/layout.css")
        script(src="game.js", defer)
    body
        h1 Yahtzee Game
        p Player #{player.name}'s turn

        #diceBox
            #diceImages
                img(src="/images/diceSetsFolder/whiteDice/dice-1.png", id="dice1", value="1", onclick="selectDice(1)")
                img(src="/images/diceSetsFolder/whiteDice/dice-1.png", id="dice2", value="1", onclick="selectDice(2)")
                img(src="/images/diceSetsFolder/whiteDice/dice-1.png", id="dice3", value="1", onclick="selectDice(3)")
                img(src="/images/diceSetsFolder/whiteDice/dice-1.png", id="dice4", value="1", onclick="selectDice(4)")
                img(src="/images/diceSetsFolder/whiteDice/dice-1.png", id="dice5", value="1", onclick="selectDice(5)")

        #rollBar
            p Rolls left:
            p#rollsLeftText 3
            button(onclick="rollDice()") Roll

        #scoreBox
            table
                thead
                    tr
                        th Score
                tbody
                    // Loop through each score category in the current player's score data
                    each value, category in player.scores
                        tr
                            td #{category}
                            td
                                input(type="number", name="score", value=value, id=category, disabled)

                    tr.totalRow
                        td Samlet point øverst:
                        td#upperTotal= player.scores.aces + player.scores.twos + player.scores.threes + player.scores.fours + player.scores.fives + player.scores.sixes
                    tr
                        td Et Par
                        td
                            input(type="number", id="onePair", disabled)
                    tr
                        td To Par
                        td
                            input(type="number", id="twoPairs", disabled)
                    tr
                        td Tre ens:
                        td
                            input(type="number", id="threeOfAKind", disabled)
                    tr
                        td Fire ens:
                        td
                            input(type="number", id="fourOfAKind", disabled)
                    tr
                        td Fuld hus:
                        td
                            input(type="number", id="fullHouse", disabled)
                    tr
                        td Lille straight:
                        td
                            input(type="number", id="smallStraight", disabled)
                    tr
                        td Stor straight:
                        td
                            input(type="number", id="largeStraight", disabled)
                    tr
                        td Yahtzee:
                        td
                            input(type="number", id="yahtzee", disabled)
                    tr
                        td Chance:
                        td
                            input(type="number", id="chance", disabled)
                    tr.totalRow
                        td Samlet point nederest:
                        td#lowerTotal= player.scores.onePair + player.scores.twoPairs + player.scores.threeOfAKind + player.scores.fourOfAKind + player.scores.fullHouse + player.scores.smallStraight + player.scores.largeStraight + player.scores.yahtzee + player.scores.chance
                    tr.total
                        td Samlet score:
                        td#totalScore= player.scores.aces + player.scores.twos + player.scores.threes + player.scores.fours + player.scores.fives + player.scores.sixes + player.scores.onePair + player.scores.twoPairs + player.scores.threeOfAKind + player.scores.fourOfAKind + player.scores.fullHouse + player.scores.smallStraight + player.scores.largeStraight + player.scores.yahtzee + player.scores.chance

        #skins
            button(id="Skin" onclick="onClickBlackDiceBtn()") BlackDice
            button(id="Skin" onclick="onClickNumberedDiceBtn()") Numbered Dice 3D

        #turnEndButton
            form(action="/end-turn", method="POST")
                button(type="submit") End Turn